<!doctype html>
<head>
  <title>Simple Flask app 'Doctor-Preference-Medicine'</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
</head>
<body>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1>Flaskr {{ title }}</h1>
          <div class=metanav>
          </div>
      </div>
  </div>
  {% block body %}{% endblock %}
</div>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"/>
</body>
